<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to the <%= title %></p>

    <h2><a href="https://github.com/prof-rossetti/robots-api-express/blob/master/DOCUMENTATION.md">API Documentation</a></h2>

    <h2>API Endpoints</h2>

    <table>
      <tr>
        <th>Name</th>
        <th>Request Method</th>
        <th>Request Endpoint</th>
      </tr>
      <tr>
        <td>List Robots</td>
        <td>GET</td>
        <td>/api/robots</td>
      </tr>
      <tr>
        <td>Create Robot</td>
        <td>POST</td>
        <td>/api/robots/</td>
      </tr>
      <tr>
        <td>Show Robot</td>
        <td>GET</td>
        <td>/api/robots/:id</td>
      </tr>
      <tr>
        <td>Update Robot</td>
        <td>PUT</td>
        <td>/api/robots/:id</td>
      </tr>
      <tr>
        <td>Destroy Robot</td>
        <td>DELETE</td>
        <td>/api/robots/:id</td>
      </tr>
    </table>

    <footer>
      <p>
        <a href="https://southernct-443-robots-api.herokuapp.com/">view</a> |
        <a href="https://github.com/prof-rossetti/robots-api-express/">source</a>
      </p>
    </footer>
  </body>
</html>
