<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to the <%= title %></p>

    <h3>API Endpoints</h3>
    <ul>
      <li>List Robots <a href="/api/robots.json">/api/robots.json</a></li>
      <li>Show Robot <code>/api/robots/:id.json</code></li>
    </ul>

    <footer>
      <p>
        <a href="https://southernct-443-robots-api.herokuapp.com/">view</a> |
        <a href="https://github.com/prof-rossetti/robots-api-express/">source</a>
      </p>
    </footer>
  </body>
</html>
